
.background-c1 {
    background-color: #35524A;
}

.background-c2 {
    background-color: #627C85;
}

.background-c3 {
    background-color: #779CAB;
}

.background-c4 {
    background-color: #A2E8DD;
}

.background-c5 {
    background-color: #32DE8A;
}


.text-c1 {
    color: #35524A;
}

.text-c2 {
    color: #627C85;
}

.text-c3 {
    color: #779CAB;
}

.text-c4 {
    color: #A2E8DD;
}

.text-c5 {
    color: #32DE8A;
}